argocd-image-updater:
  replicaCount: 1
  image:
   # -- Default image repository
   repository: quay.io/argoprojlabs/argocd-image-updater
   # -- Default image pull policy
   pullPolicy: Always
   # -- Overrides the image tag whose default is the chart appVersion
   tag: ""

  config:
   # -- Name of the ConfigMap
   name: argocd-image-updater-config

   # -- API kind that is used to manage Argo CD applications (`kubernetes` or `argocd`)
   applicationsAPIKind: "kubernetes"

   disableKubeEvents: false
   # -- Username to use for Git commits
   gitCommitUser: "huytz"

   # -- E-Mail address to use for Git commits
   gitCommitMail: ""

   # -- Changing the Git commit message
   gitCommitTemplate: |
     build: automatic update of {{ .AppName }}

     {{ range .AppChanges -}}
     updates image {{ .Image }} tag to '{{ .NewTag }}'
     {{ end -}}

   # -- Enables sign off on commits
   gitCommitSignOff: false

   # -- Method used to sign Git commits. `openpgp` or `ssh`
   gitCommitSigningMethod: ""

   # -- Argo CD Image Update log level
   logLevel: "debug"

   # -- Platform preferences for image selection
   # This fixes the platform compatibility issue where darwin/amd64 is requested but only linux images exist
   platforms: "linux/amd64"

   registries: []
   sshConfig:
     # -- Name of the sshConfig ConfigMap
     name: argocd-image-updater-ssh-config
     # -- Argo CD Image Updater ssh client parameter configuration
     config: |
       Host *
         PubkeyAcceptedAlgorithms +ssh-rsa
         HostkeyAlgorithms +ssh-rsa

  rbac:
   # -- Enable RBAC creation
   enabled: true

  metrics:
   # -- Deploy metrics service
   enabled: true
