architecture: standalone

auth:
  enabled: false
  sentinel: false

commonConfiguration: |-
  appendonly no
  save ""

master:
  count: 1
  persistence:
    enabled: false

replica:
  replicaCount: 0
