kube-prometheus-stack:
  crds:
    enabled: true
    upgradeJob:
      enabled: true

  defaultRules:
    create: false

  global:
    rbac:
      create: true


  alertmanager:
    enabled: false

  grafana:
    enabled: false

  kubeStateMetrics:
    enabled: false

  nodeExporter:
    enabled: false

  kubernetesServiceMonitors:
    enabled: true

  ## Component scraping the kube api server
  ##
  kubeApiServer:
    enabled: true

  prometheusOperator:
    enabled: true
    ## Ensure CRDs are installed before operator
    admissionWebhooks:
      enabled: true
      patch:
        enabled: true


  prometheus:
    enabled: true
    serviceAccount:
      create: true
      name: ""
      annotations: {}
      automountServiceAccountToken: true
