applicationName: webapp
replicaCount: 1
containerImage:
  repository: ghcr.io/huytz/webapp
  tag: main-44a3767
  pullPolicy: IfNotPresent
containerPorts:
  http:
    port: 3000
    protocol: TCP
service:
  ports:
    app:
      port: 80
      targetPort: http
      protocol: TCP
ingress:
  enabled: false
serviceAccount:
  create: true
  name: webapp
